@page
@model Sunny_School.Pages.Info_Alumno.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-info">Agregar Nuevo Alumno</h2>
<br />
<body>
    
    <div class="container" style="background-color:aqua">
        <div style="border:1px solid palevioletred; margin:7px">
            <div style="background-color:palevioletred; height:40px">
                <div class="text-center">

                    <div class="form-group">
                        <div style="color: black">
                            <h3 class="text-center">Datos del Beneficiario</h3>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <form method="post">
            <label asp-for="Enlace.Nombre"></label>
            <input asp-for="Enlace.Nombre" class="form-control" />
        </form>


        <br />
        <div class="container-fluid" id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <label asp-for="Enlace.CURP"></label>
                            <input asp-for="Enlace.CURP" class="form-control" />
                        </form>
                    </div>
                    <div class="col">
                        <form method="post">
                            <label asp-for="Enlace.Nacionalidad"></label>
                            <input asp-for="Enlace.Nacionalidad" class="form-control" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="container-fluid" id="main-content">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            <label asp-for="Enlace.Fecha_Nacimineto"></label>
                            <input asp-for="Enlace.Fecha_Nacimineto" class="form-control" />
                        </form>
                    </div>
                    <br />
                    <div class="col">
                        <form method="post">
                            <label asp-for="Enlace.Genero"></label>
                            <input asp-for="Enlace.Genero" type="checkbox" name="Hombre" value="H" />Hombre
                            <input asp-for="Enlace.Genero" type="checkbox" name="Mujer" value="M" />Mujer
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="text-center">
            <form method="post">
                <label asp-for="Enlace.Discapacidad"></label>
                <input asp-for="Enlace.Discapacidad" type="checkbox" value="si" />si
                <input asp-for="Enlace.Discapacidad" type="checkbox" value="no" />no
            </form>
        </div>
        <a class="nav-link text-black-50" asp-area="" asp-page="/Info_Alumno/Index">Salir</a>
    </div>
</body>