@page
@model Sunny_School.Pages.Info_Alumno.indexModel
@{
    ViewData["Title"] = "index";
}

<br />  
<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Informacion Del Alumno</h2>
    </div>
    <div class="col-6 text-xl-right">
        <a asp-page="Create" class="btn btn-primary">Agregar Nuevo Alumno</a> 
    </div>
</div>

